.mirrored:hover {
    // background: #03e9f4;
    // background: #1a1a1a;
    transition: 0.25s !important;
    color: #fff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}