.panel {
    height: 100%;
    width: 100%;
    // border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 10px solid red;
}